<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1039994671047-pbrklhts3vphj5o0g35kjp3nmth0m5cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039994671047-pbrklhts3vphj5o0g35kjp3nmth0m5cn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1039994671047-hmlj9nl4osr18knlhmiqmh8kvsjuq8gq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaANP6_FmXyvrKoLbC-l66fyAUfwVpDSY</string>
	<key>GCM_SENDER_ID</key>
	<string>1039994671047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wefit.app</string>
	<key>PROJECT_ID</key>
	<string>wefit-e5f99</string>
	<key>STORAGE_BUCKET</key>
	<string>wefit-e5f99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039994671047:ios:effde126d9667bf8</string>
	<key>DATABASE_URL</key>
	<string>https://wefit-e5f99.firebaseio.com</string>
</dict>
</plist>